<header>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <!-- BURGER MENU -->
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="home">
                    <li>Home</li>
                </a>
                <% if(username==null){%>
                <a href="login">
                    <li>Login</li>
                </a>
                <a href="register">
                    <li>Register</li>
                </a>
                <%} else {%>
                    <a href="disconnect">
                        <li>Disconnect</li>
                    </a>
                    <% } %>
                    <% if(username==="admin" ) {%>
                    <a href="admin">
                        <li>Administration</li>
                    </a>
                <% }; %>
            </ul>
        </div>
    </nav>
    <a href="home" class="mgleft_40">
        <img src="../img/logo.png" alt="Logo" >
    </a>
   
</header>