<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titre</title>
    <link rel="stylesheet" href="../css/default.css">
</head>
<body>
    <header>
        <nav>
            <img src="../img/logo.png" alt="Logo">
            <ul>
                <li>
                    <a href="login">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Website Structure</h1>
        <div>
            <h1>Bienvenue</h1>
            <p>Ici un site web</p>
        </div>
    </main>
    <footer>
        <p>© NoIndustry 2022</p>
    </footer>
</body>
</html>