//public/views/index.jade
extends layout 
block body 
    section.container
        header.header.clearfix
            nav
                ul.nav.nav-pills.pull-right
                li.active a(href="#") Accueil
                li.active a(href="") Autre 
            
            h3.text-muted Website Structure
        div.jumbotron
            h1 Bienvenue 
            p.lead loremIpsum loremIpsum loremIpsum loremIpsum loremIpsum.
            p a(href="#").btn.btn-success Voir code

        footer.footer p © NoIndustry 2022
