<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/default.css">
    <title>Consult(ing)</title>
    <!-- <script>
        function disconnect() {
            username = null;
            location.reload();
        }
    </script> -->
</head>

<body>
    <%- include('header') %>
<main>
    <article id="art_m1">
        <h1 class="h1_">
            <div class="waviy">
                <span style="--i:1">L</span>
                <span style="--i:2">E</span>
                <span style="--i:3"> </span>
                <span style="--i:4">C</span>
                <span style="--i:5">O</span>
                <span style="--i:6">N</span>
                <span style="--i:7">S</span>
                <span style="--i:8">U</span>
                <span style="--i:10">L</span>
                <span style="--i:11">T</span>
                <span style="--i:12">I</span>
                <span style="--i:13">N</span>
                <span style="--i:14">G</span>
                <span style="--i:15"> </span>
                <span style="--i:16">A</span>
                <span style="--i:17">U</span>
                <span style="--i:18">T</span>
                <span style="--i:19">R</span>
                <span style="--i:20">E</span>
                <span style="--i:21">M</span>
                <span style="--i:22">E</span>
                <span style="--i:23">N</span>
                <span style="--i:24">T</span>
               </div>
        </h1>
        <a id="button_JML" href="catalogue">
            Catalogue
        </a>
    </article>
    <article class="container">
        <p>Bienvenue sur la plateforme en ligne de CONSULT(ING) 
            Nous sommes ravis de vous accueillir dans le monde de l'audit, du conseil, de la réalisation de projets concrets et bien sûr, du consulting.
            Tout au long de notre partenariat avec vous, nous pourrons vous prodiguer un grand nombres de services, disponibles dans notre catalogue.
            Nos experts et nos équipes seront à vos côtés pour vous accompagner et recueillir vos besoins au tout au long de nos prestations afin de vous livrer ce dont votre entreprise a réellement besoin pour relever les défis du numérique aujourd'hui.</p>
    </article>
    <article class="container">
        <p>CONSULT(ING) est une start-up (ou une entreprise) de conseil et de services sur la mise en place de tous types d'infrastructures, crée par M. Jean MOPIN et M. Victor BULTEZ en 2022. Ces deux grands noms du monde du développement informatique et de la sécurité informatique, en passant par le réseau, seront ravis de vous accompagner dans vos projets. 
            Contactez nous sur support.client@consulting.com</p>
        <img src="https://www.peveca.com/image/catalog/About%20Us.jpg" alt="" class="taille_img">
    </article>
</main>
<footer>
    <p>© NoIndustry 2022
        <br> Site web crée par Victor BULTEZ & Jean MOPIN <br/>
    </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
crossorigin="anonymous"></script>

</body>

</html>