<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/default.css">
    <title>Index</title>
    <!-- <script>
        function disconnect() {
            username = null;
            location.reload();
        }
    </script> -->
</head>

<body>
    <%- include('header') %>
        <main>
            <h1>Website Structure</h1>
            <div>
                <h1>Bienvenue</h1>
                <p>Ici un site web</p>
            </div>
        </main>
        <footer>
            <p>© NoIndustry 2022</p>
        </footer>
</body>

</html>