//public/views/index.jade
extends layout 
block body 
    section.container
        header.header.clearfix
            nav
                ul.nav.nav-pills.pull-right
                    li.active 
                        a(href="index") Accueil
                    li.active 
                        a(href="page1") Autre 
            
            h3.text-muted Website Structure
        div.jumbotron
            h1 Bienvenue 
            p.lead Ici un site internet.
            p 
                a(class='button',href='google.com') Voir code

        footer.footer 
            p © NoIndustry 2022
