<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script>
        function disconnect() {
            username = null;
            location.reload();
        }
    </script>
</head>

<body>
    <header>
        <nav>
            <img src="../img/logo.png" alt="Logo">
            <ul>
                <li>
                    <a href="home">Home</a>
                </li>
                <% if(username==null){%>
                    <li>
                        <a href="login">Login</a>
                    </li>
                    <li>
                        <a href="register">Register</a>
                    </li>
                    <%} else {%>
                        <li>
                            <a href="disconnect">Disconnect</a>
                        </li>
                        <% } %>
                            <% if(username==="admin" ) {%>
                                <li>
                                    <a href="admin">Administration</a>
                                </li>
                                <% }; %>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Website Structure</h1>
        <div>
            <h1>Bienvenue</h1>
            <p>Ici un site web</p>
        </div>
    </main>
    <footer>
        <p>© NoIndustry 2022</p>
    </footer>
</body>

</html>