<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>login</title>
    <link rel="stylesheet" href="../css/default.css">
</head>

<body>
    <header>
        <nav>
            <img src="../img/logo.png" alt="Logo">
            <ul>
                <li>
                    <a href="home">Home</a>
                </li>
                <li>
                    <a href="login">Login</a>
                </li>
                <li>
                    <a href="register">Register</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="bg_grey pb-5">
        <article class="text-center">
            <img src="../img/logo.png" alt="logo_inscription" class="size_logo_login">
            <h1>Bienvenue</h1>
            <p>Connectez-vous : </p>
            <form name="login-form" method="post" action="/login"
                class="d-flex flex-wrap justify-content-center mx-auto flex-column m-3 align-content-center">
                <div class="form-floating m-3 w-25">
                    <input type="text" class="form-control" id="floatingNom" placeholder="*">
                    <label for=" floatingNom">Username</label>
                </div>
                <div class="form-floating m-3 w-25">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="*">
                    <label for=" floatingPassword">Password</label>
                </div>
                <input type="submit" value="login" class="btn btn-outline-dark text-center">
            </form>
        </article>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>