//public/views/page1.jade
extends layout
block body 
    section.container
        header.header.clearfix
            nav
                ul.nav.nav-pills.pull-right
                    li.active 
                        a(href="index") Accueil
                    li.active 
                        a(href="page1.jade") Autre 
            
            h3.text-muted Website Structure
        div.jumbotron
            h1 Page 1 
            p.lead Ici la première page du site internet
            p 
                a(class='button',href='google') Voir code

        footer.footer 
            p © NoIndustry 2022
