extends layout 
block body
    section.container
        header.header.clearfix
            nav
                ul.nav.nav-pills.pull-right
                    li.active 
                        a(href="home") Accueil
                    li.active 
                        a(href="login") Login 
                        p or 
                        a(href="register") Register
            
            h3.text-muted Website Structure
        div.jumbotron
            h1 Bienvenue 
            p.lead Connectez vous :
            p 
                form(name="register-form", method="post", action="/register")
                    div.input
                        span.label Email 
                        input(type='email', name='username',required)
                    div.input
                        span.label Username 
                        input(type='text', name='username',required)
                    .input 
                        span.label Password 
                        input(type='password', name='password',required)
                    .input 
                        span.label Redo Password 
                        input(type='password', name='repPassword',required)
                    .actions 
                        input(type="submit", value="register")

        footer.footer 
            p © NoIndustry 2022