<form name="addProductForm" method="post" action="/admin">
    <span><label>Nom du produit</label></span>
    <input type="text" name="Pname" id="Pname" required>
    <span><label>Prix du produit</label></span>
    <input type="text" name="Pprice" id =Pprice required>
    <span><label>Description du produit (optional)</label></span>
    <input type="text" name="Pbio" id =Pbio>
    <span><label>Image du produit (optional)</label></span>
    <input type="text" name="Purl" id =Purl>
    <input type="submit" value="Ajouter le produit">
</form>