<form name="addProductForm" method="post" action="/addProduct">
    <span><label>Nom du produit</label></span>
    <input type="text" name="Pname" id="Pname" required>
    <span><label>Prix du produit</label></span>
    <input type="text" name="Pprice" id =Pprice required>
    <input type="submit" value="Ajouter le produit">
</form>