<script>
    function deleteProduct(productId){
        //deleteProductFunction
    }
    function addProduct(productName,price){
        //add product function
    }
</script>
<table>
    <thead>
        <tr>
            <th scope="col">Product id</th>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Number sold</th>
            <th scope="col">Delete ?</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i=0;i<products.length;i++) {%>
            <tr>
                <td><%= products[i]['id'] %></td>
                <td><%= products[i]['name'] %></td>
                <td><%= products[i]['price'] %></td>
                <td><%= products[i]['number'] %></td>
                <td><button onclick="deleteProduct(products[i]['id'])">Supprimer</button></td>    
            </tr>
        <%}; %>
    </tbody>
</table>