<table>
    <thead>
        <tr>
            <th scope="col">User id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Delete ?</th>
        </tr>
    </thead>
    <tbody> 
        <% if(typeof(Users)!== undefined || Users !== null) { %>
        <% for (let i=0;i<Users.length;i++) {%>
            <tr>
                <td><%= Users[i]['user_id'] %></td>
                <td><%= Users[i]['username'] %></td>
                <td><%= Users[i]['email'] %></td>
                <% if(Users[i]['username'] !== 'admin') {%>
                <form method="post" action="/del_user">
                    <input type="text" name="id" value="<%= Users[i]['user_id'] %>" hidden="true">
                    <td><!--<button onclick="helper.deleteUser(Users[i]['user_id'])">Supprimer</button>--><button type="submit">Supprimer</button></td>
                </form>
                <% } %>
            </tr>
        <%}; %>
        <% } else { %>
            <h3>Aucuns utilisateurs trouvés</h3>
        <% }; %> 
    </tbody>
</table>